// Colors

<<<<<<< Updated upstream
<<<<<<< Updated upstream
$main-color:        gainsboro;  // change this color for further customization
=======
$main-color:       #000000;  // change this color for further customization
>>>>>>> Stashed changes
=======
$main-color:       #000000;  // change this color for further customization
>>>>>>> Stashed changes
                                      // I like http://colours.neilorangepeel.com/! Making colors semantic too ;)

$bg-color:          black; // background-color

<<<<<<< Updated upstream
<<<<<<< Updated upstream
$text-color:        #000000;
$link-color:        $main-color;
$border-color:      #0000CD;
=======
=======
>>>>>>> Stashed changes
$text-color:        #ffffff;
$link-color:        #E8D176;
$border-color:      #000000;
>>>>>>> Stashed changes
$smoke-color:       #fafafa;


// Typography

$font-family:       'Space Mono', monospace;
$variant-family:    'Space Mono', monospace;
$font-size-l:       1.75em; // font-size on desktop type screens
$font-size-m:       $font-size-l * 0.9; // font-size under 942px wide screens
$font-size-s:       $font-size-l * 0.7; // font-size under 642px wide screens


// Spacings

$spacing-xs:        .5em;
$spacing-s:         $spacing-xs * 2;
$spacing-sm:        $spacing-s + $spacing-xs;
$spacing-m:         $spacing-sm + $spacing-xs;
$spacing-ml:        $spacing-m + $spacing-xs;
$spacing-l:         $spacing-ml + $spacing-s;
$spacing-xl:        $spacing-l + $spacing-s;
